.formstyle {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.textcijfernodig {
  margin: 1rem;
  text-align: center;
}

.textcijferWatGaIkStaan {
  margin: 1rem;
  text-align: center;
}
