.gemairo {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.gemairo_input {
  padding: 0.5rem;
  border-radius: 10px;
}

.gemairo_weging {
  padding: 0.5rem;
  width: 4rem;
  border-radius: 10px;
}
